%%% -*- mode: erlang -*-

%% Erlang files to compile before the rest.
{erl_first_files, ["src/eep8_types_predefined.erl", "src/eep8_types_builtin.erl"]}.

%% Erlang compiler options
{erl_opts, [debug_info %%TODO, fail_on_warning
            , {i, "../ubf/include/"}
           ]}.

%% EUnit options
{eunit_opts, [verbose]}.
